@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #d6dbdf;
    font-family: 'Oswald', sans-serif;
}
body{
    background-color: #28292c;
}
.links{
    color: #8ce9a6;
    text-decoration: none;
    font-style: italic;
    transition: all 0.3s;
}
.links:hover{
    color: #09b43a;
}
.header{
    display: flex;
    justify-content:space-between ;
    padding: 8px;
    background-color:#28292c ;
    box-shadow: 2px 6px 23px -8px rgba(0,0,0,0.75);

}
.navBar ul li{
    list-style-type: square;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    gap: 10px;
}
.form input{
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: #28292c;
}
.postMain{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#submit-btn{
    border-radius: 4px;
    border-color: #09b43a;
    color: #28292c;
    background-color: #09b43a;

    font-size: 18px;
    max-width: fit-content;
    margin: auto;
    transition: all 0.3s;
    cursor: pointer;
}
#submit-btn:hover{
    background-color: #28292c;
    color: #09b43a;
}
.disabled-button{
    border-radius: 4px;
    border-color: #3c3c3c;
    color: #3c3c3c;
    background-color: #979797;

    font-size: 18px;
    max-width: fit-content;
    margin: auto;
    transition: all 0.3s;
    cursor: default;
}
.post{
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.posts img{
    width: 400px;
    border-radius: 10px;
    
}
.mainTitle{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 45px;
    text-align: center;
}
.description{
    margin-top: 5px;
    margin-bottom: 45px;
    font-size: 30px;
}
